@import url('https://fonts.googleapis.com/css2?family=Alata&family=Comic+Neue:ital,wght@0,400;0,700;1,700&family=Inter:wght@400;500;600;700&family=Lato:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&family=Montserrat:wght@400;700&family=Mulish:wght@300;400&family=Open+Sans:wght@400;600&family=Poppins:wght@400;500&family=Roboto:wght@400;500&family=Rubik:ital,wght@0,400;0,500;0,600;0,700;1,500;1,600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
   font-family: 'Lato', sans-serif;
}

body {
  background-image: url("https://img.freepik.com/free-photo/written-task_1098-13625.jpg?t=st=1654278720~exp=1654279320~hmac=6d50861fcb3b37807b47e3021ae8c0fe96b40fbd6e3db7f14288012a463b65e9&w=1060");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  position: relative;
  z-index: 1;
}
body::after {
  content: "";
  position: absolute;
  background: rgba(0, 0, 0, 0.6);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.heading {
  margin-top: -30px;
  margin-bottom: 15px !important;
  padding: 18px 0px;
  color: rgb(255, 255, 255) !important;
  background-color: rgba(45, 20, 20, 0.52) !important;
}
.qsn {
  font-weight: bolder;
  font-size: 21px;
  margin-top: 40px;
  padding-top: 18px !important;
  margin-bottom: 8px;
  color: rgba(0, 0, 255, 0.854) !important;
}
.qsn-container {
  display: grid;
  place-items: center;
  /* background-clip: content-box; */
}
p {
  margin: 0;
}
span{
  font-weight: 500 !important;
  font-size: 18px !important;
}
.container {
  width: 700px;
  background-color: white;
  border-radius: 20px;
  padding: 0px 30px;
  margin-bottom: 20px;
  color: rgb(255, 255, 255) !important;
  box-sizing: border-box;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding-bottom: 15px;
  /* clip-path: ellipse(600px 200px at 30% 20%); */
}
@media (max-width: 688px) {
  .qsn-container {
    padding: 20px;
  }
  .container {
    width: 100%;
  }
  .qsn{
    font-size: 16px;
  }
  span{
    font-size: 14px !important;
  }
}
